# To make it a service that is always up:
# sudo cp rpi_camera_streaming_https_password.service /lib/systemd/system/rpi_camera_streaming_https_password.service
# sudo chmod 644 /lib/systemd/system/rpi_camera_streaming_https_password.service
# sudo systemctl daemon-reload
# sudo systemctl enable rpi_camera_streaming_https_password.service
# sudo reboot now

# You can also use:
# sudo systemctl stop rpi_camera_streaming_https_password.service

# and if changes were made to rpi_camera_streaming_https_password.service
# sudo systemctl daemon-reload
# sudo systemctl restart rpi_camera_streaming_https_password.service  # restarts the service

# https://www.tecmint.com/list-all-running-services-under-systemd-in-linux/
# Check which services are active :
# systemctl --type=service --state=active
# Or running:
# systemctl --type=service --state=running

# To follow logs in real time:
# sudo journalctl -f -u rpi_camera_streaming_https_password

[Unit]
Description=PiCamera MJPEG Streaming Demo Using Https, User and Password
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/rpi_camera_streaming_https_password/rpi_camera_streaming_https_password.sh
WorkingDirectory=/home/pi/rpi_camera_streaming_https_password/
Restart=always
RestartSec=3

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rpi_camera_streaming_https_password

[Install]
WantedBy=multi-user.target